<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Address Book{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{asset('assets/bs3/dist/css/bootstrap.min.css')}}">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <div class="container">

        <a href="{{path('list_contact')}}"><h3>Address Book</h3></a>
        <a href="{{path('list_contact')}}">Contacts</a> |
        <a href="{{path('list_group')}}">Groups</a>
        <hr>
    </div>


    <div class="container">
    {% block body %}{% endblock %}
    </div>

    <div class="container">
        <hr><p><a href="{{path('list_contact')}}">Powered by Kix</a></p>
    </div>

    {% block javascripts %}{% endblock %}
</body>
</html>